.cat {
  list-style: none;

  float: left;
  li {
    display: inline-block;
    margin-left: 3rem;

    &:first-child {
      margin: 0.3rem 1rem 0 2rem;
    }
  }
}

.link {
  @include style-link-text($color-text-dark);
  &:hover {
    text-decoration-line: underline;
  }
}
