$color-text-light: #e3e3f0;
$color-text-dark: #575758;
$color-primary: #b55c3d;
$color-primary-light: #e4ad9a;
$color-primary-dark: #b55b3d6e;
$background-def: #e3e3f0;

$text: 1.6rem;
$text-big: 2rem;
$text-small: 1rem;
$text-header: 5.5rem;

$grid-width: 44vw;
$gutter-horizontal: 6rem;
$grid: 2rem;
$grid-block: 22rem;
