body {
  font-family: "Merriweather", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.primaryh1 {
  @include style-link-text($color-text-light);
  font-family: "Montserrat", sans-serif;
  margin-top: 4rem;
  position: relative;
}

.primary {
  &--main {
    display: block;
    font-size: $text-header;
  }
  &--sub {
    display: block;
  }
}

.primaryh2 {
  @include style-link-text($color-text-dark);
  text-align: left;
}

.text {
  &--sub,
  &--sub2 {
    text-align: left;
  }
}
